@model HGH_Webesite.Models.StatsticsPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>StatsticsPage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ER)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ER)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OPD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OPD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BRITH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BRITH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LAB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LAB)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
